<h1><%= @location.address %></h1>
<%= image_tag @location.image, :class => 'feature' %>
<ul>
    <li>Location:<%= @location.address %> </li>
    <li>Harvest: <%= @location.harvest %></li>
    <li>note: <%= @location.note %></li>
</ul>
<% if @current_user.id == @location.user_id %>

<div class="controls">
    <%= link_to "Edit location", edit_location_path %>
    <%= link_to "Deleter Location", @location, :method => 'delete', :data => {:confirm => "Are you sure?"}%>


</div>
<% end %>

